<?xml version="1.0"?>

<model>
  <name>landing_car</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Everton Kelvin</name>
   <email>carrosselcaipira@gmail.com</email>
  </author>

  <description>
    Robô da categoria IEEE "Very Small Size" de futebol de robôs.
  </description>
</model>
